$root-vars: (
  --color-fg-default: #262626,
  --color-fg-muted: #4d4d4d,
  --color-fg-subtle: #666666,
  --color-fg-on-emphasis: #ffffff,
  --color-fg-brand: #cb3837,
  --color-fg-accent: #196cb2,
  --color-fg-success: #107010,
  --color-fg-attention: #886701,
  --color-fg-danger: #bb2e3e,
  --color-bg-default: #ffffff,
  --color-bg-subtle: #f7f7f7,
  --color-bg-inset: #f2f2f2,
  --color-bg-emphasis: #262626,
  --color-bg-accent: #f2f9ff,
  --color-bg-success: #dcfdd9,
  --color-bg-attention: #fff5d8,
  --color-bg-danger: #ffdbdb,
  --color-border-default: #e6e6e6,
  --color-border-muted: #f2f2f2,
  --color-border-strong: #d0d0d0,
  --color-border-accent: #afcee9,
  --color-border-success: #93d58a,
  --color-border-attention: #efd88f,
  --color-border-danger: #f1b8bc,
  --wombat-red-hover: #c40b0a,
  --button-green: #00c642,
  --wombat-yellow: #ffcd3a,
  --wombat-violet: #8956ff,
  --wombat-purple: #c836c3,
  --wombat-green: #00c642,
  --wombat-teal: #29abe2,
  --light-blue: #70b8ff,
  --wombat-red: #cb3837,
  --header-color: #000,
  --bg-dark: #cb3837,
  --npmRed: #cb3837,
  --npmLightRed: #fb3e44,
  --blue: #357edd,
  --bg: #fff,
  --background-color: #fafafa,
  --wombat-bg-red: rgba(203, 55, 56, 0.1),
  --copy-color: rgba(0, 0, 0, 0.85),
  --code-bg: #f7f7f7,
);
