.prose {
  ul {
    margin-top: 1.25em;
    margin-bottom: 1.25em;

    li {
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    & > li {
      position: relative;
      //padding-left: 1.75em;

      &::before {
        content: '';
        position: absolute;
        background-color: #cbd5e0;
        border-radius: 50%;
        width: 0.375em;
        height: 0.375em;
        top: 0.6875em;
        left: 0.25em;
      }
    }
  }
}
