[data-color-mode='light'][data-light-theme*='dark'],
[data-color-mode='dark'][data-dark-theme*='dark'] {
  --color-workflow-card-connector: var(--color-scale-gray-5);
  --color-workflow-card-connector-bg: var(--color-scale-gray-5);
  --color-workflow-card-connector-inactive: var(--color-border-default);
  --color-workflow-card-connector-inactive-bg: var(--color-border-default);
  --color-workflow-card-connector-highlight: var(--color-scale-blue-5);
  --color-workflow-card-connector-highlight-bg: var(--color-scale-blue-5);
  --color-workflow-card-bg: var(--color-scale-gray-7);
  --color-workflow-card-inactive-bg: var(--color-canvas-inset);
  --color-workflow-card-header-shadow: rgba(27, 31, 35, 0.04);
  --color-workflow-card-progress-complete-bg: var(--color-scale-blue-5);
  --color-workflow-card-progress-incomplete-bg: var(--color-scale-gray-6);
  --color-discussions-state-answered-icon: var(--color-scale-green-3);
  --color-bg-discussions-row-emoji-box: var(--color-scale-gray-6);
  --color-notifications-button-text: var(--color-scale-white);
  --color-notifications-button-hover-text: var(--color-scale-white);
  --color-notifications-button-hover-bg: var(--color-scale-blue-4);
  --color-notifications-row-read-bg: var(--color-canvas-default);
  --color-notifications-row-bg: var(--color-canvas-subtle);
  --color-icon-directory: var(--color-fg-muted);
  --color-checks-step-error-icon: var(--color-scale-red-4);
  --color-calendar-halloween-graph-day-L1-bg: #631c03;
  --color-calendar-halloween-graph-day-L2-bg: #bd561d;
  --color-calendar-halloween-graph-day-L3-bg: #fa7a18;
  --color-calendar-halloween-graph-day-L4-bg: #fddf68;
  --color-calendar-graph-day-bg: var(--color-scale-gray-8);
  --color-calendar-graph-day-border: rgba(27, 31, 35, 0.06);
  --color-calendar-graph-day-L1-bg: #0e4429;
  --color-calendar-graph-day-L2-bg: #006d32;
  --color-calendar-graph-day-L3-bg: #26a641;
  --color-calendar-graph-day-L4-bg: #39d353;
  --color-calendar-graph-day-L1-border: rgba(255, 255, 255, 0.05);
  --color-calendar-graph-day-L2-border: rgba(255, 255, 255, 0.05);
  --color-calendar-graph-day-L3-border: rgba(255, 255, 255, 0.05);
  --color-calendar-graph-day-L4-border: rgba(255, 255, 255, 0.05);
  --color-user-mention-fg: var(--color-scale-yellow-0);
  --color-user-mention-bg: var(--color-scale-yellow-8);
  --color-text-white: var(--color-scale-white);
}

[data-color-mode='light'][data-light-theme*='dark'],
[data-color-mode='dark'][data-dark-theme*='dark'] {
  --color-social-reaction-bg-hover: var(--color-scale-gray-7);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-8);
}
