$root-vars: (
  --color-header-text: rgb(205, 217, 229),
  // rgba(205, 217, 229, 0.7),
  --color-header-bg: #2d333b,
  --color-canvas-default: #22272e,
  --color-canvas-inset: #1c2128,
  --color-fg-default: #adbac7,
);
