.prose {
  ul {
    margin-top: 1.25em;
    margin-bottom: 1.25em;

    li {
      margin-top: .5em;
      margin-bottom: .5em;
    }

    &>li {
      position: relative;
      //padding-left: 1.75em;

      &::before {
        content: "";
        position: absolute;
        background-color: #cbd5e0;
        border-radius: 50%;
        width: .375em;
        height: .375em;
        top: .6875em;
        left: .25em;
      }

    }
  }
}
