$header-text: rgb(var(--color-header-text));
$header-bg: rgb(var(--color-header-bg));
$canvas-default: rgb(var(--color-canvas-default));
$canvas-inset: rgb(var(--color-canvas-inset));
$fg-default: rgb(var(--color-fg-default));
