$canvas-default-transparent:rgb(var(--color-canvas-default-transparent));
$marketing-icon-primary:rgb(var(--color-marketing-icon-primary));
$marketing-icon-secondary:rgb(var(--color-marketing-icon-secondary));
$diff-blob-addition-num-text:rgb(var(--color-diff-blob-addition-num-text));
$diff-blob-addition-fg:rgb(var(--color-diff-blob-addition-fg));
$diff-blob-addition-num-bg:rgb(var(--color-diff-blob-addition-num-bg));
$diff-blob-addition-line-bg:rgb(var(--color-diff-blob-addition-line-bg));
$diff-blob-addition-word-bg:rgb(var(--color-diff-blob-addition-word-bg));
$diff-blob-deletion-num-text:rgb(var(--color-diff-blob-deletion-num-text));
$diff-blob-deletion-fg:rgb(var(--color-diff-blob-deletion-fg));
$diff-blob-deletion-num-bg:rgb(var(--color-diff-blob-deletion-num-bg));
$diff-blob-deletion-line-bg:rgb(var(--color-diff-blob-deletion-line-bg));
$diff-blob-deletion-word-bg:rgb(var(--color-diff-blob-deletion-word-bg));
$diff-blob-hunk-num-bg:rgb(var(--color-diff-blob-hunk-num-bg));
$diff-blob-expander-icon:rgb(var(--color-diff-blob-expander-icon));
$diff-blob-selected-line-highlight-mix-blend-mode:rgb(var(--color-diff-blob-selected-line-highlight-mix-blend-mode));
$diffstat-deletion-border:rgb(var(--color-diffstat-deletion-border));
$diffstat-addition-border:rgb(var(--color-diffstat-addition-border));
$diffstat-addition-bg:rgb(var(--color-diffstat-addition-bg));
$search-keyword-hl:rgb(var(--color-search-keyword-hl));
$prettylights-syntax-comment:rgb(var(--color-prettylights-syntax-comment));
$prettylights-syntax-constant:rgb(var(--color-prettylights-syntax-constant));
$prettylights-syntax-entity:rgb(var(--color-prettylights-syntax-entity));
$prettylights-syntax-storage-modifier-import:rgb(var(--color-prettylights-syntax-storage-modifier-import));
$prettylights-syntax-entity-tag:rgb(var(--color-prettylights-syntax-entity-tag));
$prettylights-syntax-keyword:rgb(var(--color-prettylights-syntax-keyword));
$prettylights-syntax-string:rgb(var(--color-prettylights-syntax-string));
$prettylights-syntax-variable:rgb(var(--color-prettylights-syntax-variable));
$prettylights-syntax-brackethighlighter-unmatched:rgb(var(--color-prettylights-syntax-brackethighlighter-unmatched));
$prettylights-syntax-invalid-illegal-text:rgb(var(--color-prettylights-syntax-invalid-illegal-text));
$prettylights-syntax-invalid-illegal-bg:rgb(var(--color-prettylights-syntax-invalid-illegal-bg));
$prettylights-syntax-carriage-return-text:rgb(var(--color-prettylights-syntax-carriage-return-text));
$prettylights-syntax-carriage-return-bg:rgb(var(--color-prettylights-syntax-carriage-return-bg));
$prettylights-syntax-string-regexp:rgb(var(--color-prettylights-syntax-string-regexp));
$prettylights-syntax-markup-list:rgb(var(--color-prettylights-syntax-markup-list));
$prettylights-syntax-markup-heading:rgb(var(--color-prettylights-syntax-markup-heading));
$prettylights-syntax-markup-italic:rgb(var(--color-prettylights-syntax-markup-italic));
$prettylights-syntax-markup-bold:rgb(var(--color-prettylights-syntax-markup-bold));
$prettylights-syntax-markup-deleted-text:rgb(var(--color-prettylights-syntax-markup-deleted-text));
$prettylights-syntax-markup-deleted-bg:rgb(var(--color-prettylights-syntax-markup-deleted-bg));
$prettylights-syntax-markup-inserted-text:rgb(var(--color-prettylights-syntax-markup-inserted-text));
$prettylights-syntax-markup-inserted-bg:rgb(var(--color-prettylights-syntax-markup-inserted-bg));
$prettylights-syntax-markup-changed-text:rgb(var(--color-prettylights-syntax-markup-changed-text));
$prettylights-syntax-markup-changed-bg:rgb(var(--color-prettylights-syntax-markup-changed-bg));
$prettylights-syntax-markup-ignored-text:rgb(var(--color-prettylights-syntax-markup-ignored-text));
$prettylights-syntax-markup-ignored-bg:rgb(var(--color-prettylights-syntax-markup-ignored-bg));
$prettylights-syntax-meta-diff-range:rgb(var(--color-prettylights-syntax-meta-diff-range));
$prettylights-syntax-brackethighlighter-angle:rgb(var(--color-prettylights-syntax-brackethighlighter-angle));
$prettylights-syntax-sublimelinter-gutter-mark:rgb(var(--color-prettylights-syntax-sublimelinter-gutter-mark));
$prettylights-syntax-constant-other-reference-link:rgb(var(--color-prettylights-syntax-constant-other-reference-link));
$codemirror-text:rgb(var(--color-codemirror-text));
$codemirror-bg:rgb(var(--color-codemirror-bg));
$codemirror-gutters-bg:rgb(var(--color-codemirror-gutters-bg));
$codemirror-guttermarker-text:rgb(var(--color-codemirror-guttermarker-text));
$codemirror-guttermarker-subtle-text:rgb(var(--color-codemirror-guttermarker-subtle-text));
$codemirror-linenumber-text:rgb(var(--color-codemirror-linenumber-text));
$codemirror-cursor:rgb(var(--color-codemirror-cursor));
$codemirror-selection-bg:rgb(var(--color-codemirror-selection-bg));
$codemirror-activeline-bg:rgb(var(--color-codemirror-activeline-bg));
$codemirror-matchingbracket-text:rgb(var(--color-codemirror-matchingbracket-text));
$codemirror-lines-bg:rgb(var(--color-codemirror-lines-bg));
$codemirror-syntax-comment:rgb(var(--color-codemirror-syntax-comment));
$codemirror-syntax-constant:rgb(var(--color-codemirror-syntax-constant));
$codemirror-syntax-entity:rgb(var(--color-codemirror-syntax-entity));
$codemirror-syntax-keyword:rgb(var(--color-codemirror-syntax-keyword));
$codemirror-syntax-storage:rgb(var(--color-codemirror-syntax-storage));
$codemirror-syntax-string:rgb(var(--color-codemirror-syntax-string));
$codemirror-syntax-support:rgb(var(--color-codemirror-syntax-support));
$codemirror-syntax-variable:rgb(var(--color-codemirror-syntax-variable));
$checks-bg:rgb(var(--color-checks-bg));
$checks-run-border-width:rgb(var(--color-checks-run-border-width));
$checks-container-border-width:rgb(var(--color-checks-container-border-width));
$checks-text-primary:rgb(var(--color-checks-text-primary));
$checks-text-secondary:rgb(var(--color-checks-text-secondary));
$checks-text-link:rgb(var(--color-checks-text-link));
$checks-btn-icon:rgb(var(--color-checks-btn-icon));
$checks-btn-hover-icon:rgb(var(--color-checks-btn-hover-icon));
$checks-btn-hover-bg:rgb(var(--color-checks-btn-hover-bg));
$checks-input-text:rgb(var(--color-checks-input-text));
$checks-input-placeholder-text:rgb(var(--color-checks-input-placeholder-text));
$checks-input-focus-text:rgb(var(--color-checks-input-focus-text));
$checks-input-bg:rgb(var(--color-checks-input-bg));
$checks-donut-error:rgb(var(--color-checks-donut-error));
$checks-donut-pending:rgb(var(--color-checks-donut-pending));
$checks-donut-success:rgb(var(--color-checks-donut-success));
$checks-donut-neutral:rgb(var(--color-checks-donut-neutral));
$checks-dropdown-text:rgb(var(--color-checks-dropdown-text));
$checks-dropdown-bg:rgb(var(--color-checks-dropdown-bg));
$checks-dropdown-border:rgb(var(--color-checks-dropdown-border));
$checks-dropdown-shadow:rgb(var(--color-checks-dropdown-shadow));
$checks-dropdown-hover-text:rgb(var(--color-checks-dropdown-hover-text));
$checks-dropdown-hover-bg:rgb(var(--color-checks-dropdown-hover-bg));
$checks-dropdown-btn-hover-text:rgb(var(--color-checks-dropdown-btn-hover-text));
$checks-dropdown-btn-hover-bg:rgb(var(--color-checks-dropdown-btn-hover-bg));
$checks-scrollbar-thumb-bg:rgb(var(--color-checks-scrollbar-thumb-bg));
$checks-header-label-text:rgb(var(--color-checks-header-label-text));
$checks-header-label-open-text:rgb(var(--color-checks-header-label-open-text));
$checks-header-border:rgb(var(--color-checks-header-border));
$checks-header-icon:rgb(var(--color-checks-header-icon));
$checks-line-text:rgb(var(--color-checks-line-text));
$checks-line-num-text:rgb(var(--color-checks-line-num-text));
$checks-line-timestamp-text:rgb(var(--color-checks-line-timestamp-text));
$checks-line-hover-bg:rgb(var(--color-checks-line-hover-bg));
$checks-line-selected-bg:rgb(var(--color-checks-line-selected-bg));
$checks-line-selected-num-text:rgb(var(--color-checks-line-selected-num-text));
$checks-line-dt-fm-text:rgb(var(--color-checks-line-dt-fm-text));
$checks-line-dt-fm-bg:rgb(var(--color-checks-line-dt-fm-bg));
$checks-gate-bg:rgb(var(--color-checks-gate-bg));
$checks-gate-text:rgb(var(--color-checks-gate-text));
$checks-gate-waiting-text:rgb(var(--color-checks-gate-waiting-text));
$checks-step-header-open-bg:rgb(var(--color-checks-step-header-open-bg));
$checks-step-error-text:rgb(var(--color-checks-step-error-text));
$checks-step-warning-text:rgb(var(--color-checks-step-warning-text));
$checks-logline-text:rgb(var(--color-checks-logline-text));
$checks-logline-num-text:rgb(var(--color-checks-logline-num-text));
$checks-logline-debug-text:rgb(var(--color-checks-logline-debug-text));
$checks-logline-error-text:rgb(var(--color-checks-logline-error-text));
$checks-logline-error-num-text:rgb(var(--color-checks-logline-error-num-text));
$checks-logline-error-bg:rgb(var(--color-checks-logline-error-bg));
$checks-logline-warning-text:rgb(var(--color-checks-logline-warning-text));
$checks-logline-warning-num-text:rgb(var(--color-checks-logline-warning-num-text));
$checks-logline-warning-bg:rgb(var(--color-checks-logline-warning-bg));
$checks-logline-command-text:rgb(var(--color-checks-logline-command-text));
$checks-logline-section-text:rgb(var(--color-checks-logline-section-text));
$checks-ansi-black:rgb(var(--color-checks-ansi-black));
$checks-ansi-black-bright:rgb(var(--color-checks-ansi-black-bright));
$checks-ansi-white:rgb(var(--color-checks-ansi-white));
$checks-ansi-white-bright:rgb(var(--color-checks-ansi-white-bright));
$checks-ansi-gray:rgb(var(--color-checks-ansi-gray));
$checks-ansi-red:rgb(var(--color-checks-ansi-red));
$checks-ansi-red-bright:rgb(var(--color-checks-ansi-red-bright));
$checks-ansi-green:rgb(var(--color-checks-ansi-green));
$checks-ansi-green-bright:rgb(var(--color-checks-ansi-green-bright));
$checks-ansi-yellow:rgb(var(--color-checks-ansi-yellow));
$checks-ansi-yellow-bright:rgb(var(--color-checks-ansi-yellow-bright));
$checks-ansi-blue:rgb(var(--color-checks-ansi-blue));
$checks-ansi-blue-bright:rgb(var(--color-checks-ansi-blue-bright));
$checks-ansi-magenta:rgb(var(--color-checks-ansi-magenta));
$checks-ansi-magenta-bright:rgb(var(--color-checks-ansi-magenta-bright));
$checks-ansi-cyan:rgb(var(--color-checks-ansi-cyan));
$checks-ansi-cyan-bright:rgb(var(--color-checks-ansi-cyan-bright));
$project-header-bg:rgb(var(--color-project-header-bg));
$project-sidebar-bg:rgb(var(--color-project-sidebar-bg));
$project-gradient-in:rgb(var(--color-project-gradient-in));
$project-gradient-out:rgb(var(--color-project-gradient-out));
$mktg-btn-bg:rgb(var(--color-mktg-btn-bg));
$mktg-btn-shadow-outline:rgb(var(--color-mktg-btn-shadow-outline));
$mktg-btn-shadow-focus:rgb(var(--color-mktg-btn-shadow-focus));
$mktg-btn-shadow-hover:rgb(var(--color-mktg-btn-shadow-hover));
$mktg-btn-shadow-hover-muted:rgb(var(--color-mktg-btn-shadow-hover-muted));
$avatar-bg:rgb(var(--color-avatar-bg));
$avatar-border:rgb(var(--color-avatar-border));
$avatar-stack-fade:rgb(var(--color-avatar-stack-fade));
$avatar-stack-fade-more:rgb(var(--color-avatar-stack-fade-more));
$avatar-child-shadow:rgb(var(--color-avatar-child-shadow));
$topic-tag-border:rgb(var(--color-topic-tag-border));
$counter-border:rgb(var(--color-counter-border));
$select-menu-backdrop-border:rgb(var(--color-select-menu-backdrop-border));
$select-menu-tap-highlight:rgb(var(--color-select-menu-tap-highlight));
$select-menu-tap-focus-bg:rgb(var(--color-select-menu-tap-focus-bg));
$overlay-shadow:rgb(var(--color-overlay-shadow));
$header-text:rgb(var(--color-header-text));
$header-bg:rgb(var(--color-header-bg));
$header-divider:rgb(var(--color-header-divider));
$header-logo:rgb(var(--color-header-logo));
$header-search-bg:rgb(var(--color-header-search-bg));
$header-search-border:rgb(var(--color-header-search-border));
$sidenav-selected-bg:rgb(var(--color-sidenav-selected-bg));
$menu-bg-active:rgb(var(--color-menu-bg-active));
$input-disabled-bg:rgb(var(--color-input-disabled-bg));
$timeline-badge-bg:rgb(var(--color-timeline-badge-bg));
$ansi-black:rgb(var(--color-ansi-black));
$ansi-black-bright:rgb(var(--color-ansi-black-bright));
$ansi-white:rgb(var(--color-ansi-white));
$ansi-white-bright:rgb(var(--color-ansi-white-bright));
$ansi-gray:rgb(var(--color-ansi-gray));
$ansi-red:rgb(var(--color-ansi-red));
$ansi-red-bright:rgb(var(--color-ansi-red-bright));
$ansi-green:rgb(var(--color-ansi-green));
$ansi-green-bright:rgb(var(--color-ansi-green-bright));
$ansi-yellow:rgb(var(--color-ansi-yellow));
$ansi-yellow-bright:rgb(var(--color-ansi-yellow-bright));
$ansi-blue:rgb(var(--color-ansi-blue));
$ansi-blue-bright:rgb(var(--color-ansi-blue-bright));
$ansi-magenta:rgb(var(--color-ansi-magenta));
$ansi-magenta-bright:rgb(var(--color-ansi-magenta-bright));
$ansi-cyan:rgb(var(--color-ansi-cyan));
$ansi-cyan-bright:rgb(var(--color-ansi-cyan-bright));
$btn-text:rgb(var(--color-btn-text));
$btn-bg:rgb(var(--color-btn-bg));
$btn-border:rgb(var(--color-btn-border));
$btn-shadow:rgb(var(--color-btn-shadow));
$btn-inset-shadow:rgb(var(--color-btn-inset-shadow));
$btn-hover-bg:rgb(var(--color-btn-hover-bg));
$btn-hover-border:rgb(var(--color-btn-hover-border));
$btn-active-bg:rgb(var(--color-btn-active-bg));
$btn-active-border:rgb(var(--color-btn-active-border));
$btn-selected-bg:rgb(var(--color-btn-selected-bg));
$btn-focus-bg:rgb(var(--color-btn-focus-bg));
$btn-focus-border:rgb(var(--color-btn-focus-border));
$btn-focus-shadow:rgb(var(--color-btn-focus-shadow));
$btn-shadow-active:rgb(var(--color-btn-shadow-active));
$btn-shadow-input-focus:rgb(var(--color-btn-shadow-input-focus));
$btn-counter-bg:rgb(var(--color-btn-counter-bg));
$btn-primary-text:rgb(var(--color-btn-primary-text));
$btn-primary-bg:rgb(var(--color-btn-primary-bg));
$btn-primary-border:rgb(var(--color-btn-primary-border));
$btn-primary-shadow:rgb(var(--color-btn-primary-shadow));
$btn-primary-inset-shadow:rgb(var(--color-btn-primary-inset-shadow));
$btn-primary-hover-bg:rgb(var(--color-btn-primary-hover-bg));
$btn-primary-hover-border:rgb(var(--color-btn-primary-hover-border));
$btn-primary-selected-bg:rgb(var(--color-btn-primary-selected-bg));
$btn-primary-selected-shadow:rgb(var(--color-btn-primary-selected-shadow));
$btn-primary-disabled-text:rgb(var(--color-btn-primary-disabled-text));
$btn-primary-disabled-bg:rgb(var(--color-btn-primary-disabled-bg));
$btn-primary-disabled-border:rgb(var(--color-btn-primary-disabled-border));
$btn-primary-focus-bg:rgb(var(--color-btn-primary-focus-bg));
$btn-primary-focus-border:rgb(var(--color-btn-primary-focus-border));
$btn-primary-focus-shadow:rgb(var(--color-btn-primary-focus-shadow));
$btn-primary-icon:rgb(var(--color-btn-primary-icon));
$btn-primary-counter-bg:rgb(var(--color-btn-primary-counter-bg));
$btn-outline-text:rgb(var(--color-btn-outline-text));
$btn-outline-hover-text:rgb(var(--color-btn-outline-hover-text));
$btn-outline-hover-bg:rgb(var(--color-btn-outline-hover-bg));
$btn-outline-hover-border:rgb(var(--color-btn-outline-hover-border));
$btn-outline-hover-shadow:rgb(var(--color-btn-outline-hover-shadow));
$btn-outline-hover-inset-shadow:rgb(var(--color-btn-outline-hover-inset-shadow));
$btn-outline-hover-counter-bg:rgb(var(--color-btn-outline-hover-counter-bg));
$btn-outline-selected-text:rgb(var(--color-btn-outline-selected-text));
$btn-outline-selected-bg:rgb(var(--color-btn-outline-selected-bg));
$btn-outline-selected-border:rgb(var(--color-btn-outline-selected-border));
$btn-outline-selected-shadow:rgb(var(--color-btn-outline-selected-shadow));
$btn-outline-disabled-text:rgb(var(--color-btn-outline-disabled-text));
$btn-outline-disabled-bg:rgb(var(--color-btn-outline-disabled-bg));
$btn-outline-disabled-counter-bg:rgb(var(--color-btn-outline-disabled-counter-bg));
$btn-outline-focus-border:rgb(var(--color-btn-outline-focus-border));
$btn-outline-focus-shadow:rgb(var(--color-btn-outline-focus-shadow));
$btn-outline-counter-bg:rgb(var(--color-btn-outline-counter-bg));
$btn-danger-text:rgb(var(--color-btn-danger-text));
$btn-danger-hover-text:rgb(var(--color-btn-danger-hover-text));
$btn-danger-hover-bg:rgb(var(--color-btn-danger-hover-bg));
$btn-danger-hover-border:rgb(var(--color-btn-danger-hover-border));
$btn-danger-hover-shadow:rgb(var(--color-btn-danger-hover-shadow));
$btn-danger-hover-inset-shadow:rgb(var(--color-btn-danger-hover-inset-shadow));
$btn-danger-hover-icon:rgb(var(--color-btn-danger-hover-icon));
$btn-danger-hover-counter-bg:rgb(var(--color-btn-danger-hover-counter-bg));
$btn-danger-selected-text:rgb(var(--color-btn-danger-selected-text));
$btn-danger-selected-bg:rgb(var(--color-btn-danger-selected-bg));
$btn-danger-selected-border:rgb(var(--color-btn-danger-selected-border));
$btn-danger-selected-shadow:rgb(var(--color-btn-danger-selected-shadow));
$btn-danger-disabled-text:rgb(var(--color-btn-danger-disabled-text));
$btn-danger-disabled-bg:rgb(var(--color-btn-danger-disabled-bg));
$btn-danger-disabled-counter-bg:rgb(var(--color-btn-danger-disabled-counter-bg));
$btn-danger-focus-border:rgb(var(--color-btn-danger-focus-border));
$btn-danger-focus-shadow:rgb(var(--color-btn-danger-focus-shadow));
$btn-danger-counter-bg:rgb(var(--color-btn-danger-counter-bg));
$btn-danger-icon:rgb(var(--color-btn-danger-icon));
$underlinenav-icon:rgb(var(--color-underlinenav-icon));
$underlinenav-border-hover:rgb(var(--color-underlinenav-border-hover));
$action-list-item-inline-divider:rgb(var(--color-action-list-item-inline-divider));
$action-list-item-default-hover-bg:rgb(var(--color-action-list-item-default-hover-bg));
$action-list-item-default-active-bg:rgb(var(--color-action-list-item-default-active-bg));
$action-list-item-default-selected-bg:rgb(var(--color-action-list-item-default-selected-bg));
$action-list-item-danger-hover-bg:rgb(var(--color-action-list-item-danger-hover-bg));
$action-list-item-danger-active-bg:rgb(var(--color-action-list-item-danger-active-bg));
$action-list-item-danger-hover-text:rgb(var(--color-action-list-item-danger-hover-text));
$fg-default:rgb(var(--color-fg-default));
$fg-muted:rgb(var(--color-fg-muted));
$fg-subtle:rgb(var(--color-fg-subtle));
$fg-on-emphasis:rgb(var(--color-fg-on-emphasis));
$canvas-default:rgb(var(--color-canvas-default));
$canvas-overlay:rgb(var(--color-canvas-overlay));
$canvas-inset:rgb(var(--color-canvas-inset));
$canvas-subtle:rgb(var(--color-canvas-subtle));
$border-default:rgb(var(--color-border-default));
$border-muted:rgb(var(--color-border-muted));
$border-subtle:rgb(var(--color-border-subtle));
$shadow-small:rgb(var(--color-shadow-small));
$shadow-medium:rgb(var(--color-shadow-medium));
$shadow-large:rgb(var(--color-shadow-large));
$shadow-extra-large:rgb(var(--color-shadow-extra-large));
$neutral-emphasis-plus:rgb(var(--color-neutral-emphasis-plus));
$neutral-emphasis:rgb(var(--color-neutral-emphasis));
$neutral-muted:rgb(var(--color-neutral-muted));
$neutral-subtle:rgb(var(--color-neutral-subtle));
$accent-fg:rgb(var(--color-accent-fg));
$accent-emphasis:rgb(var(--color-accent-emphasis));
$accent-muted:rgb(var(--color-accent-muted));
$accent-subtle:rgb(var(--color-accent-subtle));
$success-fg:rgb(var(--color-success-fg));
$success-emphasis:rgb(var(--color-success-emphasis));
$success-muted:rgb(var(--color-success-muted));
$success-subtle:rgb(var(--color-success-subtle));
$attention-fg:rgb(var(--color-attention-fg));
$attention-emphasis:rgb(var(--color-attention-emphasis));
$attention-muted:rgb(var(--color-attention-muted));
$attention-subtle:rgb(var(--color-attention-subtle));
$severe-fg:rgb(var(--color-severe-fg));
$severe-emphasis:rgb(var(--color-severe-emphasis));
$severe-muted:rgb(var(--color-severe-muted));
$severe-subtle:rgb(var(--color-severe-subtle));
$danger-fg:rgb(var(--color-danger-fg));
$danger-emphasis:rgb(var(--color-danger-emphasis));
$danger-muted:rgb(var(--color-danger-muted));
$danger-subtle:rgb(var(--color-danger-subtle));
$done-fg:rgb(var(--color-done-fg));
$done-emphasis:rgb(var(--color-done-emphasis));
$done-muted:rgb(var(--color-done-muted));
$done-subtle:rgb(var(--color-done-subtle));
$sponsors-fg:rgb(var(--color-sponsors-fg));
$sponsors-emphasis:rgb(var(--color-sponsors-emphasis));
$sponsors-muted:rgb(var(--color-sponsors-muted));
$sponsors-subtle:rgb(var(--color-sponsors-subtle));
$primer-fg-disabled:rgb(var(--color-primer-fg-disabled));
$primer-canvas-backdrop:rgb(var(--color-primer-canvas-backdrop));
$primer-canvas-sticky:rgb(var(--color-primer-canvas-sticky));
$primer-border-active:rgb(var(--color-primer-border-active));
$primer-border-contrast:rgb(var(--color-primer-border-contrast));
$primer-shadow-highlight:rgb(var(--color-primer-shadow-highlight));
$primer-shadow-inset:rgb(var(--color-primer-shadow-inset));
$primer-shadow-focus:rgb(var(--color-primer-shadow-focus));
$scale-black:rgb(var(--color-scale-black));
$scale-white:rgb(var(--color-scale-white));
$scale-gray-0:rgb(var(--color-scale-gray-0));
$scale-gray-1:rgb(var(--color-scale-gray-1));
$scale-gray-2:rgb(var(--color-scale-gray-2));
$scale-gray-3:rgb(var(--color-scale-gray-3));
$scale-gray-4:rgb(var(--color-scale-gray-4));
$scale-gray-5:rgb(var(--color-scale-gray-5));
$scale-gray-6:rgb(var(--color-scale-gray-6));
$scale-gray-7:rgb(var(--color-scale-gray-7));
$scale-gray-8:rgb(var(--color-scale-gray-8));
$scale-gray-9:rgb(var(--color-scale-gray-9));
$scale-blue-0:rgb(var(--color-scale-blue-0));
$scale-blue-1:rgb(var(--color-scale-blue-1));
$scale-blue-2:rgb(var(--color-scale-blue-2));
$scale-blue-3:rgb(var(--color-scale-blue-3));
$scale-blue-4:rgb(var(--color-scale-blue-4));
$scale-blue-5:rgb(var(--color-scale-blue-5));
$scale-blue-6:rgb(var(--color-scale-blue-6));
$scale-blue-7:rgb(var(--color-scale-blue-7));
$scale-blue-8:rgb(var(--color-scale-blue-8));
$scale-blue-9:rgb(var(--color-scale-blue-9));
$scale-green-0:rgb(var(--color-scale-green-0));
$scale-green-1:rgb(var(--color-scale-green-1));
$scale-green-2:rgb(var(--color-scale-green-2));
$scale-green-3:rgb(var(--color-scale-green-3));
$scale-green-4:rgb(var(--color-scale-green-4));
$scale-green-5:rgb(var(--color-scale-green-5));
$scale-green-6:rgb(var(--color-scale-green-6));
$scale-green-7:rgb(var(--color-scale-green-7));
$scale-green-8:rgb(var(--color-scale-green-8));
$scale-green-9:rgb(var(--color-scale-green-9));
$scale-yellow-0:rgb(var(--color-scale-yellow-0));
$scale-yellow-1:rgb(var(--color-scale-yellow-1));
$scale-yellow-2:rgb(var(--color-scale-yellow-2));
$scale-yellow-3:rgb(var(--color-scale-yellow-3));
$scale-yellow-4:rgb(var(--color-scale-yellow-4));
$scale-yellow-5:rgb(var(--color-scale-yellow-5));
$scale-yellow-6:rgb(var(--color-scale-yellow-6));
$scale-yellow-7:rgb(var(--color-scale-yellow-7));
$scale-yellow-8:rgb(var(--color-scale-yellow-8));
$scale-yellow-9:rgb(var(--color-scale-yellow-9));
$scale-orange-0:rgb(var(--color-scale-orange-0));
$scale-orange-1:rgb(var(--color-scale-orange-1));
$scale-orange-2:rgb(var(--color-scale-orange-2));
$scale-orange-3:rgb(var(--color-scale-orange-3));
$scale-orange-4:rgb(var(--color-scale-orange-4));
$scale-orange-5:rgb(var(--color-scale-orange-5));
$scale-orange-6:rgb(var(--color-scale-orange-6));
$scale-orange-7:rgb(var(--color-scale-orange-7));
$scale-orange-8:rgb(var(--color-scale-orange-8));
$scale-orange-9:rgb(var(--color-scale-orange-9));
$scale-red-0:rgb(var(--color-scale-red-0));
$scale-red-1:rgb(var(--color-scale-red-1));
$scale-red-2:rgb(var(--color-scale-red-2));
$scale-red-3:rgb(var(--color-scale-red-3));
$scale-red-4:rgb(var(--color-scale-red-4));
$scale-red-5:rgb(var(--color-scale-red-5));
$scale-red-6:rgb(var(--color-scale-red-6));
$scale-red-7:rgb(var(--color-scale-red-7));
$scale-red-8:rgb(var(--color-scale-red-8));
$scale-red-9:rgb(var(--color-scale-red-9));
$scale-purple-0:rgb(var(--color-scale-purple-0));
$scale-purple-1:rgb(var(--color-scale-purple-1));
$scale-purple-2:rgb(var(--color-scale-purple-2));
$scale-purple-3:rgb(var(--color-scale-purple-3));
$scale-purple-4:rgb(var(--color-scale-purple-4));
$scale-purple-5:rgb(var(--color-scale-purple-5));
$scale-purple-6:rgb(var(--color-scale-purple-6));
$scale-purple-7:rgb(var(--color-scale-purple-7));
$scale-purple-8:rgb(var(--color-scale-purple-8));
$scale-purple-9:rgb(var(--color-scale-purple-9));
$scale-pink-0:rgb(var(--color-scale-pink-0));
$scale-pink-1:rgb(var(--color-scale-pink-1));
$scale-pink-2:rgb(var(--color-scale-pink-2));
$scale-pink-3:rgb(var(--color-scale-pink-3));
$scale-pink-4:rgb(var(--color-scale-pink-4));
$scale-pink-5:rgb(var(--color-scale-pink-5));
$scale-pink-6:rgb(var(--color-scale-pink-6));
$scale-pink-7:rgb(var(--color-scale-pink-7));
$scale-pink-8:rgb(var(--color-scale-pink-8));
$scale-pink-9:rgb(var(--color-scale-pink-9));
$scale-coral-0:rgb(var(--color-scale-coral-0));
$scale-coral-1:rgb(var(--color-scale-coral-1));
$scale-coral-2:rgb(var(--color-scale-coral-2));
$scale-coral-3:rgb(var(--color-scale-coral-3));
$scale-coral-4:rgb(var(--color-scale-coral-4));
$scale-coral-5:rgb(var(--color-scale-coral-5));
$scale-coral-6:rgb(var(--color-scale-coral-6));
$scale-coral-7:rgb(var(--color-scale-coral-7));
$scale-coral-8:rgb(var(--color-scale-coral-8));
$scale-coral-9:rgb(var(--color-scale-coral-9));